
<div class ="top">
  
<h1>ようこそ Bookersへ！</h1>
<p class ="hometop"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
<p class ="hometop">印象を共有し交換することが出来ます</p>

</div>
  
<span>
<%= link_to start, "/books/new" %>
</span>
